body .p-dialog .p-dialog-footer button {
    margin: 0 0.5em 0 0;
    width: 100px;
    height: 30px;
}

body .p-button.confirm.p-button-text-icon-left .p-button-text {
    top: 0%;
}

body .p-rowgroup-footer {
    display: none;
}

body .p-panel {
    margin-right: 15%;
    width: 400%;
}