.datatable-crud-demo .p-datatable-tbody {
    text-align: center;
    align-self: center
}

.datatable-crud-demo .p-datatable-tbody .p-calendar .p-inputtext {
    flex: 1 1 auto;
    font-size: smaller;
}